.welcome h1 {
	color: white;
}

.welcome {
	width: 50%;
	border-radius: 10px;
	background-color: black;
	opacity: .4;
	margin: 0 auto;
	margin-top: 30px;
	padding: 10px;
	text-align: center;
}

a, a:visited {
	 text-decoration: none;
	 color: gray;
}

a:hover {
	opacity: .5;
}

.board {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}


#instructions {
	width: 45%;
	float: left;
	padding-left: 30px;
}

#turn {
	width: 45%;
	float: right;
}


/*Tic-Tac-Toe Board*/

table {
	margin: 0 auto;
}

td {
	padding: 15px;
}

/*Insider Borders*/
table {
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid black;
}
table tr:first-child td {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}